.Home {
  display: block;
  padding: 15px;
}

.Form {
  border: 1px solid black;
  border-radius: 6px;
  width: 300px;
  height: 18em;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
}

.formSubmitBtn {
  margin-top: 30px;
}

.dateInput {
  margin-left: 60px;
  text-align: center;
}

.addNewWalk {
  margin-top: 5px;
}